//
// Global - Widths
//
// - 01 - Widths
//


//------------------------------------
//  01 - Widths
//------------------------------------

:root {
  --dk_start_theme-width-xxlarge: 1920px;
  --dk_start_theme-width-xlarge: 1440px;
  --dk_start_theme-width-large: 1280px;
  --dk_start_theme-width-medium: 960px;
  --dk_start_theme-width-small: 768px;
  --dk_start_theme-width-xsmall: 640px;
  --dk_start_theme-width-xxsmall: 480px;
}